body {
    background: #eee;
}

svg {
    font-family: sans-serif;
}

rect.overlay {
    stroke: black;
}

rect.selection {
    stroke: none;
    fill: steelblue;
    fill-opacity: 0.6;
}

#labelleft,
#labelright {
    dominant-baseline: hanging;
    font-size: 12px;
}

#labelleft {
    text-anchor: end;
}

#labelright {
    text-anchor: start;
}


.slider-container {
    background-color: #f2f2f9;
}